<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MY Blog</title>
  <link rel="shortcut icon" href="https://t4.ftcdn.net/jpg/03/49/37/73/360_F_349377375_ffnj0RHK52KsooH7IBdtpjNtdEP7bKM7.jpg" type="image/x-icon">
</head>
<body>
  <div class="container">
    <h1 class="mb-4 mt-4">My Blog website</h1>
    <a href="/articles/back" class="btn btn-success">Back</a>
    <div class="card mt-4 p-4 bg-info text-white">
    <p>This is Simple Blog website
       you can create a article with a title and description and
       followed by the content in content section and can be edited and deleted.</p>
    <p>By <span><a href="https://github.com/Santhosh1802" class="btn btn-secondary">Santhosh K</a></span> in Bharat Intern Internship</p>
    </div>    
  </div>
</body>
</html>